.debug{
  border: 1px solid black;
  background-color: bisque;
}

.container-custom{
  width: 60%;
  margin: 0 auto;
}


/* header */
header .header_top{
  height: 90px;
  background-color: #2c3e50;
}

header .header_jumbotron{
  /* height: 500px; */
  background-color: #1abc9c;
}
/* /header */


/* main */
main section.portfolio{
  /* height: 500px; */
}

main section.portfolio .row .col{
  /* height: 200px; */
}

/* /main */