.debug{
  border: 1px solid black;
  background-color: bisque;
}

.container-custom{
  width: 60%;
  margin: 0 auto;
}


/* header */
header{
  background-color: #2c3e50;
}

header .navbar-custom a{
  color: white;
}

header .btn-custom{
  border: none;
  border: 1px solid white;
}
/* /header */


/* main */
main .jumbotron-custom{
  color: white;
  background-color: #1abc9c;
}

main .jumbotron-custom .avatar{
  width: 230px;
  height: 230px;
}

main .jumbotron-custom .avatar img{
  width: 100%;
  height: 100%;
}

.star .line{
  width: 15%;
  height: 5px;
  border-radius: 5px;
  background-color: white;
}

.star i{
  font-size: 1.5rem;
}

main .jumbotron-custom h3{
  font-size: 1.2rem;
}

main .jumbotron-custom h3:not(:last-of-type)::after{
  content: "-";
  margin: 0 5px;
}

main .portfolio{
  color: #2c3e50;
}

main .portfolio .star .line,
main .contact-me .star .line{
  background-color: #2c3e50;
}

main .portfolio .row .col .card-custom{
  height: 250px;
  border-radius: 10px;
  background-color: #ba4b63;
}

main .portfolio .row .col .card-custom img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .portfolio .row .col .card-custom.background-lightblue{
  background-color: #1ea4b6;
}

main .portfolio .row .col .card-custom.background-black{
  background-color: #140f0f;
}

main .portfolio .row .col .card-custom.background-blue{
  background-color: #1c83c1;
}

main .portfolio .row .col .card-custom.background-darkblue{
  background-color: #0e38b5;
}

main .portfolio .row .col .card-custom.background-rose{
  background-color: #ccb2a3;
}

main .about{
  color: white;
  background-color: #1abc9c;
}

main .contact-me form .input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

main .contact-me form .input-custom::placeholder {
  color: black;
}

main .contact-me form .btn-custom{
  border: none;
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
}

main .contact-me form .btn-custom:hover{
  background-color: rgba(26, 188, 156, 0.8);
}
/* /main */


/* footer */
footer section.top{
  background-color: #3a546d;
}

footer section.copyright{
  background-color: #2c3e50;
}
/* /footer */